[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
SQLAlchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
python-jose = "*"
passlib = {extras = ["bcrypt"]}
alembic = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
anthropic = "*"
flask-migrate = "*"

[requires]
python_version = "3*"
